{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

{% endblock %}


{% block title %}
<h3  align="center" > 拍卖阶段（第{{ which_round }}轮）
 </h3>
{% endblock %}

{% block content %}

<div class="ac_main_body">
    <div class="private_value">
        <p>  你的虚拟卡片回收价是: {{ pv }} 单位 </p>
    </div>
    <!-- 倒计时显示区域 -->
    <div class="countdown" id="countdown"> </div>
    <div class="current_price" id="currentPrice"></div>
</div>

<hr>

<div class="ac_main_body">
    <div class="players_left_num" id="playersLeftNum"></div>

    <h3  align="center" >
            <button class="next">点我退出</button>
     </h3>
    <button class="next_not_visible"> next page </button>
    <div id="winnerMessage"></div>
</div>


<script>
(function() {
    var countdownElement = document.getElementById('countdown'); // 获取显示倒计时的元素
    var counter = 3; // 倒计时开始的数字
    var currentPriceElement = document.getElementById('currentPrice');
    var current_price = {{ start_price }};
    var winner_bid = -1;
    var nextPageButton = document.querySelector('button.next');
    var nextPageButtonNotVisible = document.querySelector('button.next_not_visible');


    // 更新倒计时显示的函数
    function updateCountdown() {
        countdownElement.innerText = "倒计时：" + counter;
        counter -= 1;

        if (counter < 1) {
            counter = 3;
        }
    }

    function updateCurrentPrice() {
        currentPriceElement.innerText = "当前价格：" + current_price + "元";
        current_price += 1; // 将计数器减1
        if (current_price === 151) {
            nextPageButton.click();
        }
    }

    function sendValue() {
        liveSend(current_price);
    }

    function sendValueWinner(){
        winner_bid = current_price;
        liveSend(winner_bid);
    }

    setInterval(updateCountdown, 1000);
    setInterval(updateCurrentPrice, 3000);

    // 初始化倒计时显示
    updateCountdown();
    updateCurrentPrice();

    nextPageButton.addEventListener('click', function() {
        sendValue();
    });

    nextPageButtonNotVisible.addEventListener('click', function() {
        sendValueWinner();
    });

})();

var nextPageButton = document.querySelector('button.next');
var nextPageButtonNotVisible = document.querySelector('button.next_not_visible');
var playersLeftNumElement = document.getElementById('playersLeftNum');
var players_left_num = 4;
var countdownElement = document.getElementById('countdown');

function updatePlayersLeftNum() {
    playersLeftNumElement.innerText = "剩余玩家数量：" + players_left_num;
    if (players_left_num === 1) {
        nextPageButtonNotVisible.click();
    }
}

setInterval(updatePlayersLeftNum, 3000);

function liveRecv(data) {
    players_left_num = data;
}

updatePlayersLeftNum();




</script>

{% endblock %}
