{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

{% endblock %}


{% block title %}
<h2  align="center" > 实验说明
 </h2>
{% endblock %}

{% block content %}

<h4> 拍卖物品 </h4>
<p>
 本部分实验是关于一张虚拟卡片的拍卖。您和其余{{ players_num_left_me }}人被随机分为一组，参与虚拟卡片拍卖。
 <p>
 拍卖共{{ total_round_num }}场，在{{ total_round_num }}场拍卖中拍卖参与者始终为相同的人。
 每场结束时， 您将看到拍卖结果包括您本场的净收益。您在拍卖中的收入为{{ total_round_num }}场净收益之和。
 请您仔细阅读以下指南，了解拍卖的规则和流程。
 </p>

<hr>

<h4> 虚拟卡片回收价 </h4>
<p>
 在每场拍卖开始前，电脑将随机决定您虚拟卡片的回收价。若您拍得此卡片，实验人员会根据此回收价，回收您的卡片。
 <p>
 {{ players_per_group }}位参与者，每场每位参与者的卡片回收价取决于组内共同值加个人调整值。
 电脑在{{ group_draws_length }}个数字（ 范围从{{ min_group_draw }}到{{ max_group_draw }}）中随机抽取一个数，
 作为卡片的组内共同值，再从
 {% for item in indi_adjustments %} {{ item }}, {% endfor %}
 里独立随机抽取一个数单独作为你的个人调整值。比如组内共同值为30，您的个人调整值为{{ example_adjustment }}，您的回收价为{{ example_pv }}。
 <p>
 每一场拍卖开始前，您将被告知您的卡片回收价。该回收价对其他参与者保密。
 </p>

<hr>

<h4> 拍卖规则 </h4>
<p>
 拍卖过程中，出价最高的参与者为赢家，赢得虚拟卡片，并需为其支付<b>赢家以外参与者中的最高出价</b>；
 <p>
 {% if is_efficient %}
 若有多位参与者同时出价最高，<b>赢家将从他们中随机抽取，并支付赢家以外参与者中的最高出价</b>。
 {% else %}
 若有多位参与者同时出价最高，则<b>没有人赢得虚拟卡片</b>。
 {% endif %}
 <p>
 在每场拍卖中，每位参与者有75秒的时间做出选择。
  </p>

<hr>

<h4> 收益计算 </h4>
<p>
 赢家的净收益 = （您的卡片回收价-赢家以外参与者中的最高出价）；非赢家净收益为0。
 <p>
 #	示例1，假设您抽到的虚拟卡片回收价为40元。您的出价最高，为35元，而其他参与者中的最高出价为33元，那么您赢得该卡片并为其支付33元的价格，您的净收益为7元（40元-33元）。
 <p>
 # 示例2，假设您抽到的虚拟卡片回收价为40元。您和另一位参与者同时出价最高，为35元，
  {% if is_efficient %}
 那么赢家从您和另一位参与者中随机抽取。若您被抽中，则您赢得该卡片并为其支付35元的价格，您的净收益为5元（40元-35元）。
  {% else %}
 那么没有人赢得虚拟卡片，您的净收益为0元。
  {% endif %}

<hr>

<h4> 实验注意事项 </h4>
<p>
请根据您对虚拟卡片价值的评估谨慎出价。本实验信息、流程完全真实，如果您对实验规则或流程有任何疑问，请举手向实验人员提问。
</p>


<h3  align="center" >
<button class="nexttab btn-primary btn next">下一步</button>
 </h3>
{% endblock %}
