{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}

{% endblock %}


{% block title %}
<h2  align="center" > 实验说明
 </h2>
{% endblock %}

{% block content %}

<hr>

<h4> 拍卖物品 </h4>
<p>
 本部分实验是关于一张虚拟卡片的拍卖。您和其余{{ players_num_left_me }}人被随机地分为一组，参与虚拟卡片拍卖。
 <p>
 拍卖共{{ total_round_num }}场，在{{ total_round_num }}场拍卖中小组参与者始终为相同的{{ players_per_group }}人。
 每场结束时， 您将看到拍卖结果包括您本场的净收益。您在拍卖中的收入为{{ total_round_num }}场净收益之和。
 请您仔细阅读以下指南，了解拍卖的规则和流程。
 </p>

<hr>

<h4> 虚拟卡片回收价 </h4>
<p>
 在每场拍卖开始前，电脑将随机决定您虚拟卡片的回收价。若您拍得此卡片，实验人员会根据此回收价，回收您的卡片。
 <b>回收价1实验币 = 5元人民币。</b>
 <p>
 在小组内，每位参与者的卡片回收价取决于组内共同值加个人调整值。
 电脑在{{ group_draws_length }}个数字（范围从5到35）中随机抽取一个整数，
 作为卡片的组内共同值，再从
 {% for item in indi_adjustments %} {{ item }}, {% endfor %}
 里独立随机抽取一个数单独作为你的个人调整值。比如组内共同值为30，您的个人调整值为{{ example_adjustment }}，
 您的回收价为{{ example_pv }}实验币。
 <p>
 每一场拍卖开始前，您将被告知您的卡片回收价。该回收价对其他参与者保密。
 </p>

<hr>

<h4> 拍卖规则 </h4>
<p>
 拍卖过程中，每位参与者将看到虚拟卡片的当前价格水平。<b>该价格水平每3秒钟上升一实验币。</b>
 如果不愿意为虚拟卡片支付这一价格水平，可点击相应按钮退出拍卖。<b>退出后将无法返回。</b>
 <p>
 <b>若在某一价格水平下，其它参与者都选择退出，只剩下一位参与者</b>，这位参与者即获得虚拟卡片，并为卡片支付此时的价格水平。
 如果所有剩余参与者均在某一价格水平时退出拍卖，
 {% if is_efficient %}
 <b>虚拟卡片获得者这将从这时退出的参与者中随机抽取，并支付此价格水平</b>。
 {% else %}
 <b>那么没有人获得虚拟卡片</b>。
 {% endif %}
  </p>

<hr>

<h4> 收益计算 </h4>
<p>
 卡片获得者的净收益 =（获得者的虚拟卡片回收价-需要支付的价格）实验币；没有获得卡片的参与者净收益为0。
 详见如下示例。
 <p>
 #	示例1，假设参与者B抽到的虚拟卡片回收价为23实验币。只有参与者A和B还留在拍卖中。A在卡片价格水平为16实验币时退出，B没有退出，
 那么B得到虚拟卡片，并为其支付16实验币的价格，获得35元人民币（(23-16)实验币 * 5元/实验币）的净收益。
 <p>
 # 示例2，假设参与者B抽到的虚拟卡片回收价为18实验币。只有参与者A和B还留在拍卖中。A和B同时在价格水平为15实验币时退出，
  {% if is_efficient %}
 那么虚拟卡片获得者将从A和B中随机抽取。若B被抽中，则B得到卡片，并为其支付15实验币，获得15元人民币（(18-15)实验币 * 5元/实验币）的净收益。
  {% else %}
 那么没有人获得虚拟卡片。
  {% endif %}

<hr>

<h4> 实验注意事项 </h4>
<p>
请根据您对虚拟卡片价值的评估谨慎出价。本实验信息、流程完全真实，如果您对实验规则或流程有任何疑问，请举手向实验人员提问。
</p>


<h3  align="center" >
<button class="nexttab btn-primary btn next">下一步</button>
 </h3>
{% endblock %}
